<!DOCTYPE html>
<html>
  <head>
    <title>Best Run Parking!</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bienvenido.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="/bestrunlogo.png">

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/bienvenido">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/MyAccount">My Account</a>
              </li>
<!--               <li class="nav-item">
                  <a class="nav-link" href="/OurTeam">Our Team</a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link" href="/ContactUs">Contact Us</a>
              </li>
          </ul>
      </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="/bienvenido"><img src="/bestrunlogowhite.png" height="50" width="150"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Sign Out</a>
              </li>
          </ul>
      </div>
  </nav>

    <div class="container-fluid" id="map"></div>

<!-- modal para reservar el espacio -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center"> 
          <p><b>Pick the date and time you would like to reserve </b></p>
          <p>Start date: </p>
          <p><input type="date" name="fecha_inicio" id="fecha_inicio"/></p>
          <p>Start time: </p>
          <p><input type="time" name="hora_inicio" id="hora_inicio"/></p>
          <p>End date: </p>
          <p><input type="date" name="fecha_fin" id="fecha_fin"/></p>
          <p>End time: </p>
          <p><input type="time" name="hora_fin" id="hora_fin"/></p>
          <p>
          <div class="dropdown">

            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select your car.
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownVehiculos">
            </div>
          </div>
        </p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="botonConfirmarReserva" onclick="confirmarReserva(); return false" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- modal de confirmación de reserva -->

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Congratulations!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" id="MensajeModalConfirmacion"> 
          <p><b>Your resevation has been succesfully saved. </b></p>
        </div>
        <div>
        <p class="text-center" id="direccion_gmaps_boton"><a class="btn btn-success text-center" href="#" target="_blank" id="direccion_gmaps">Take me there!</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </body>

<script type="text/javascript" src="/js/bienvenido.js"></script>

<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqrE7b2Jcbi2hjn5FoxAxwjzV00JxOSXY&callback=initMap"
async defer></script>

<script src="/js/webchat.js"
channelId="44f8bdaf-27b7-4a6d-96dc-4ed2079af104"
token="f0c4cc38a48ac8ce374f36a02c076888"
id="recast-webchat"
></script>

