<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="/bestrunlogo.png">

    <title>Inicia Sesión en Best Run Smart Parking</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="#" onsubmit="Login();return false">
      <img class="mb-4" src="/bestrunlogo.png" alt="" width="200" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
      <label for="inputEmail" class="sr-only">Correo Electrónico:</label>
      <input type="email" id="inputEmail" name="email" class="form-control" id="email" placeholder="Correo electrónico" required autofocus>
      <label for="inputPassword" class="sr-only" >Contraseña:</label>
      <input type="password" id="inputPassword" name="password" id="password" class="form-control" placeholder="Contraseña" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> ¡Recuerdame!
        </label>
      </div>
      <input type="submit" id="loginbutton" value="Iniciar Sesión" class="btn btn-lg btn-primary btn-block">
      <a class="mt-5 mb-3 text-muted" href="/SignIn">¿No tienes cuenta? ¡Regístrate!</a>
      <p class="mt-5 mb-3 text-muted">&copy; BestRun Smart Parking 2018</p>
    </form>
  </body>
</html>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/login.js"></script>
